doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title 도도한 불닭발
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/font-awesome.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    // Plugin CSS
    link(href='/stylesheets/magnific-popup.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/creative.css', rel='stylesheet')
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='http://54.180.32.249:3000')
          img(src='/images/logo.jpg', alt='Logo', style='width:100px;')         
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon          
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto(style='font-weight:bold')
            li.nav-item
              a.nav-link.js-scroll-trigger(href='http://54.180.32.249:3000') 도도한 불닭발
            li.nav-item
              a.nav-link.js-scroll-trigger(href='http://54.180.32.249:3000/menu') 도도한 메뉴                  
            li.nav-item
              a.nav-link.js-scroll-trigger(href='http://54.180.32.249:3000/location') 매장 안내              
            li.nav-item
              a.nav-link.js-scroll-trigger(href='http://54.180.32.249:3000/chain') 체인점 문의    
            li.nav-item
              a.nav-link.js-scroll-trigger(href='http://54.180.32.249:3000/question') 문의 사항
    header.masthead.text-center.text-white.d-flex(style="background-image: url('/images/header8.jpg')")
      .container.my-auto
        .row
          .col-lg-10.mx-auto
            h1.text-uppercase
              strong 체인점 문의
            hr.light.my-4       
          .col-lg-8.mx-auto
            p.text-faded.mb-5 당신도 도도한 불닭발 사장님!    
            a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') 더 알아보기
    section#about.bg-primary
      .container
        .row
          .col-lg-8.mx-auto.text-center
            h2.section-heading.text-white 사장님 번호                  
            hr.light.my-4            
            p.text-faded.mb-4 010-1818-1818

     // Bootstrap core JavaScript
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.bundle.js')
    // Plugin JavaScript
    script(src='/javascripts/jquery.easing.js')
    script(src='/javascripts/scrollreveal.js')
    script(src='/javascripts/jquery.magnific-popup.js')
    // Custom scripts for this template
    script(src='/javascripts/creative.js')