doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title 도도한 불닭발
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/font-awesome.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    // Plugin CSS
    link(href='/stylesheets/magnific-popup.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/creative.css', rel='stylesheet')
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='http://dodohan.ga')
          img(src='/images/logo2.jpg', alt='Logo', style='width:100px;')         
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon          
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto(style='font-weight:bold')
            li.nav-item
              a.nav-link.js-scroll-trigger(href='http://dodohan.ga') 도도한 불닭발
            li.nav-item
              a.nav-link.js-scroll-trigger(href='http://dodohan.ga/menu') 도도한 메뉴
            li.nav-item
              a.nav-link.js-scroll-trigger(href='http://dodohan.ga/location') 매장 안내             
            li.nav-item
              a.nav-link.js-scroll-trigger(href='http://dodohan.ga/chain') 체인점 문의    
            li.nav-item
              a.nav-link.js-scroll-trigger(href='http://dodohan.ga/question') 문의 사항
    header.masthead.text-center.text-white.d-flex(style="background-image: url('/images/background.jpg')")
      .container.my-auto
        .row
          .col-lg-10.mx-auto
            h1.text-uppercase
              strong 도도한 불닭발
            hr.light.my-4       
          .col-lg-8.mx-auto
            p.text-faded.mb-5 학익동 최고의 맛집! 도도한 불닭발입니다.    
            a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') 더 알아보기
    section#about.bg-primary
      .container
        .row
          .col-lg-8.mx-auto.text-center
            h2.section-heading.text-white 손님이 원하는 맛!                   
            hr.light.my-4            
            p.text-faded.mb-4 닭발만 맛있는 것이 아닙니다. 모든 메뉴에 정성을 다해 요리해 최고의 맛으로 보답드립니다.
            <br/><br/><br/><br/><br/><br/><br/><br/>  
            a.btn.btn-light.btn-xl.js-scroll-trigger(href='#comment') 사장님 한 말씀
    section#comment
      .container
        .row
          .col-lg-6.col-md-6.text-center
            .service-box.mt-5.mx-auto
              i.fa.fa-4x.fa-commenting-o.text-primary.mb-3.sr-icons           
              h3.mb-3 사장님 한 말씀                  
              p.text-muted.mb-0 맛과 정성을 다하는 도도한 불닭발입니다.           
          .col-lg-6.col-md-6.text-center
            .service-box.mt-5.mx-auto
              img(src='/images/background2.jpg', alt='background2' style="width:100%")
    // Bootstrap core JavaScript
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.bundle.js')
    // Plugin JavaScript
    script(src='/javascripts/jquery.easing.js')
    script(src='/javascripts/scrollreveal.js')
    script(src='/javascripts/jquery.magnific-popup.js')
    // Custom scripts for this template
    script(src='/javascripts/creative.js')
