doctype html
html
  head
    // 네이버 지도 API
    meta(charset='EUC-KR')
    | &#x9;
    script(src='http://openapi.map.naver.com/openapi/naverMap.naver?ver=2.0&key=발급키')
    | &#x9;
    script.
      window.onload= function() {
      var map = new nhn.api.map.Map('map');
      //여기까지 했을 때 지도가 띄워진다. 지도 생성
      //이 메소드만 사용 했을 때는 지도의 마우스 휠로 줌 인 아웃기능만 사용할 수 있다.
      var mapZoom = new nhn.api.map.ZoomControl();
      mapZoom.setPosition({ left: 20, top: 20 });
      //포지션에 정해준 위치에 맵을 줌 인 아웃 할 수 있는 위젯을 만들어준다.
      var mapType = new nhn.api.map.MapTypeBtn();
      mapType.setPosition({ left: 50, top: 20 });
      //지도를 일반지도와 위성지도를 볼 수 있게 해준다.
      var mapTraffic = new nhn.api.map.TrafficMapBtn();
      mapTraffic.setPosition({ left: 125, top: 20 });
      //실시간 교통 버튼을 만들어준다.
      var mapTheme = new nhn.api.map.ThemeMapBtn();
      mapTheme.setPosition({ left: 200, top: 20 });
      //지도의 테마가 생긴다. 자전거 도로, 자전거 세우는 곳 등.
      var mapBicycleGuide = new nhn.api.map.BicycleGuide();
      //자전거 범례를 알려주는 창이 생긴다.
      var mapTrafficGuide = new nhn.api.map.TrafficGuide();
      //교통 범례를 알려주는 창이 생긴다.
      //처음에는 멍청하게 위에것만 작성하고 실행이 안되길래.. 오타만 10분 찾았다.
      //그런데 생각해보니.. var이 보였다. 변수를 만들었으면 사용해야 하는데 그것을 모르
      //멍청하게 왜 안되지 라고만 생각했다. 밑에는 변수를 사용해주는 소스이다.
      map.addControl(mapZoom);
      map.addControl(mapType);
      map.addControl(mapTraffic);
      map.addControl(mapTheme);
      map.addControl(mapBicycleGuide);
      map.addControl(mapTrafficGuide);
      };
  title &#xC9C0;&#xB3C4; &#xB744;&#xC6B0;&#xAE30;!
  body
    #map(style='width:700px; height:450px')
