doctype html(lang='ko')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name="naver-site-verification" content='b91070919d2b22e5e39ca7e8eca6515c33bfbc15')
  meta(name='google-site-verification' content='nSDnGm0o7h1AnOjxov5BviqKl4hRK8wiJbqefZaBBcU')
  meta(name='og:title' content='도도한불닭발 메뉴')
  meta(name='description' content='도도한불닭발, 불닭발, 닭발맛집, 인천 남구 학익동, 용일사거리')
  meta(property='og:description' content='도도한불닭발, 불닭발, 닭발맛집, 인천 남구 학익동, 용일사거리')
  meta(property='og:site_name' content='도도한불닭발')
  meta(property='og:type' content='website')
  meta(property='og:url' contnet='http://dodohan.ga')
  meta(name='keywords' content='도도한불닭발, 불닭발, 닭발맛집, 인천 남구 학익동, 용일사거리, 인하대, 학익우체국, 국물닭발, 오돌뼈, 막창, 곱창, 불닭, 주먹밥, 무뼈')
  meta(nema='og:image' content='http://dodohan.ga/images/background2.jpg')
  meta(name='robots' content='index, follow')
  title 도도한불닭발 메뉴
  // Bootstrap core CSS
  link(href='/stylesheets/bootstrap.css', rel='stylesheet')
  // Custom fonts for this template
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  link(href='/stylesheets/font-awesome.css', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
  // Plugin CSS
  link(href='/stylesheets/magnific-popup.css', rel='stylesheet')
  // Custom styles for this template
  link(href='/stylesheets/creative.css', rel='stylesheet')
body#page-top
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='http://dodohan.ga')
        img(src='/images/logo2.jpg', alt='Logo', style='width:100px;')         
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon          
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto(style='font-weight:bold')
          li.nav-item
            a.nav-link.js-scroll-trigger(href='http://dodohan.ga') 도도한 불닭발
          li.nav-item
            a.nav-link.js-scroll-trigger(href='http://dodohan.ga/menu') 도도한 메뉴                  
          li.nav-item
            a.nav-link.js-scroll-trigger(href='http://dodohan.ga/location') 매장 안내
          li.nav-item
            a.nav-link.js-scroll-trigger(href='http://dodohan.ga/question') 가맹점 문의
  header.masthead.text-center.text-white.d-flex(style="background-image: url('/images/menu.jpg')")
    .container.my-auto
      .row
        .col-lg-10.mx-auto
          h1.text-uppercase
            strong 도도한 메뉴                 
          hr.light.my-4       
        .col-lg-8.mx-auto
          //p.text-faded.mb-5 학익동 최고의 맛집! 도도한 불닭발입니다.    
          a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#portfolio') 메뉴 보기
   section#portfolio.p-0
    .container-fluid.p-0
      .row.no-gutters.popup-gallery
        .col-lg-4.col-sm-6
          a.portfolio-box(href='/images/tongbal.jpg')
            img.img-fluid(src='/images/tongbal.jpg', alt='도도한통발')          
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  도도한 통발                 
                .project-name
                  뼈 있는 직화 닭발
        .col-lg-4.col-sm-6
          a.portfolio-box(href='/images/gukmul.jpg')
            img.img-fluid(src='/images/gukmul.jpg', alt='국물닭발')            
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded               
                  국물 통닭발
                .project-name
                  뼈 있는 국물 통닭발      
        .col-lg-4.col-sm-6
          a.portfolio-box(href='/images/ohdol.jpg')
            img.img-fluid(src='/images/ohdol.jpg', alt='오돌뼈')  
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  오돌뼈                
                .project-name
                  오돌뼈가 있는 오돌뼈
        .col-lg-4.col-sm-6
          a.portfolio-box(href='/images/muzik.jpg')
            img.img-fluid(src='/images/muzik.jpg', alt='무뼈직화구이')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  무뼈 직화 구이
                .project-name
                  뼈 없는 직화 닭발
        .col-lg-4.col-sm-6
          a.portfolio-box(href='/images/mubok.jpg')
            img.img-fluid(src='/images/mubok.jpg', alt='무뼈야채볶음')           
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  무뼈 야채 볶음                  
                .project-name
                  뼈 없는 야채 볶음 튀김 닭발
        .col-lg-4.col-sm-6
          a.portfolio-box(href='/images/bulsam.jpg')
            img.img-fluid(src='/images/bulsam.jpg', alt='불삼겹살')     
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  불삼겹살            
                .project-name
                  직화로 구운 불삼겹살
        .col-lg-4.col-sm-6
          a.portfolio-box(href='/images/bulzok.jpg')
            img.img-fluid(src='/images/bulzok.jpg', alt='불족발')     
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  불족발          
                .project-name
                  직화로 구운 불족발
        .col-lg-4.col-sm-6
          a.portfolio-box(href='/images/ddong.jpg')
            img.img-fluid(src='/images/ddong.jpg', alt='소금똥집')     
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  소금똥집          
                .project-name
                  후라이팬으로 들들 볶은 소금똥집
        .col-lg-4.col-sm-6
          a.portfolio-box(href='/images/jjagle.jpg')
            img.img-fluid(src='/images/jjagle.jpg', alt='짜글이닭발')     
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  짜글이닭발           
                .project-name
                  국물이 자작하게 깔린 짜글이닭발
        .col-lg-4.col-sm-6
          a.portfolio-box(href='/images/makchang.jpg')
            img.img-fluid(src='/images/makchang.jpg', alt='막창직화구이')     
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  막창직화구이            
                .project-name
                  직화로 구운 양념 막창
        .col-lg-4.col-sm-6
          a.portfolio-box(href='/images/makbok.jpg')
            img.img-fluid(src='/images/makbok.jpg', alt='막창야채볶음')     
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  막창야채볶음           
                .project-name
                  야채와 같이 볶은 막창 볶음
        .col-lg-4.col-sm-6
          a.portfolio-box(href='/images/mugukmul.jpg')
            img.img-fluid(src='/images/mugukmul.jpg', alt='무뼈국물닭발')     
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  무뼈 국물 닭발        
                .project-name
                  먹기 편한 무뼈 국물 닭발
  // Bootstrap core JavaScript
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/bootstrap.bundle.js')
  // Plugin JavaScript
  script(src='/javascripts/jquery.easing.js')
  script(src='/javascripts/scrollreveal.js')
  script(src='/javascripts/jquery.magnific-popup.js')
  // Custom scripts for this template
  script(src='/javascripts/creative.js')
