doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title 도도한 불닭발
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/font-awesome.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    // Plugin CSS
    link(href='/stylesheets/magnific-popup.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/creative.css', rel='stylesheet')
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='http://dodohan.ga')
          img(src='/images/logo2.jpg', alt='Logo', style='width:100px;')         
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon          
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto(style='font-weight:bold')
            li.nav-item
              a.nav-link.js-scroll-trigger(href='http://dodohan.ga') 도도한 불닭발
            li.nav-item
              a.nav-link.js-scroll-trigger(href='http://dodohan.ga/menu') 도도한 메뉴                  
            li.nav-item
              a.nav-link.js-scroll-trigger(href='http://dodohan.ga/location') 매장 안내    
            li.nav-item
              a.nav-link.js-scroll-trigger(href='http://dodohan.ga/question') 가맹점 문의
    header.masthead.text-center.text-white.d-flex(style="background-image: url('/images/background2.jpg')")
      .container.my-auto
        .row
          .col-lg-10.mx-auto
            h1.text-uppercase.mt-5
              strong 가맹점 문의
            hr.light.my-4       
          .col-lg-8.mx-auto
            p.text-faded.mb-5 당신도 도도한 불닭발 사장님!  
            a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#questreg') 문의 등록
    section#questreg.bg-primary
      .container
        .row
          .col-lg-8.mx-auto.text-center
            h2.section-heading.text-white 문의 등록           
            hr.light.my-4            
            form#boardPostForm.form.mx-auto(method='POST', action="http://dodohan.ga/question")
                .form-group
                    label.text-white(for='name') 성함:
                    input#title.form-control(type='text', placeholder='성함을 입력해 주세요', name='name')
                .form-group
                    label.text-white(for='age') 나이:
                    textarea#content.form-control(type='text', placeholder='나이를 입력해 주세요.', name='age')
                .form-group
                    label.text-white(for='phone') 연락처:
                    textarea#content.form-control(type='text', placeholder='연락처를 입력해 주세요.', name='phone')
                .form-group
                    label.text-white(for='email') 이메일:
                    textarea#content.form-control(type='text', placeholder='이메일을 입력해 주세요.', name='email')
                .form-group
                    label.text-white(for='location') 가맹점 희망 지역 및 내용:
                    textarea#content.form-control(placeholder='내용을 입력해 주세요.', name='location', rows='10')
                
                .form-group.text-center
                button.btn.btn-light.my-3.mx-2(type='submit') 문의 등록
 
            a.btn.btn-light.btn-xl.js-scroll-trigger(href='#login') 문의 목록
    section#login.bg-primary
      .container
        .row
          .col-lg-8.mx-auto.text-center
            if session == 0
              h2.section-heading.text-white 사장님 로그인           
              hr.light.my-4            
              form#boardPostForm.form.mx-auto(method='POST', action="http://dodohan.ga/login")
                  .form-group
                      label.text-white(for='id') 아이디:
                      input#title.form-control(type='text', placeholder='아이디를 입력해 주세요', name='id')
                  .form-group
                      label.text-white(for='pw') 비밀번호:
                      input#title.form-control(type='password', name='pw')
                  
                  .form-group.text-center
                  button.btn.btn-light.my-3.mx-2(type='submit') 로그인
            else
              form#boardPostForm.form.mx-auto(method='POST', action="http://dodohan.ga/logout")
                button.btn.btn-light.my-3.mx-2(type='submit') 로그아웃
 
            a.btn.btn-light.btn-xl.js-scroll-trigger(href='#questlist') 문의 목록
    section#questlist
      .container
        .row
          .col-sm-12.text-center
            .mt-3.mx-auto         
              h2.section-heading 문의 목록
              hr.mb-5   
              table.table.table-hover
                thead
                  tr
                    th 번호
                    th 이름
                    th 날짜
                tbody
                  -var i = 0
                  each item in contents
                    -i++
                    tr
                      td= i
                      td
                        a(href='http://dodohan.ga/question/' + item._id )= item.name
                      td= item.date

    // Bootstrap core JavaScript
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.bundle.js')
    // Plugin JavaScript
    script(src='/javascripts/jquery.easing.js')
    script(src='/javascripts/scrollreveal.js')
    script(src='/javascripts/jquery.magnific-popup.js')
    // Custom scripts for this template
    script(src='/javascripts/creative.js')